
.input-title {
    border: 0;
    background: none;
    color: white;
    FONT-SIZE: 30PX;
    box-shadow: none;
    outline: none;
    width: 100%;
    margin-bottom: 5px;
    font-weight: bold;
    margin-left: 15px;
}

.input-desk {
    border: 0;
    background: none;
    color: white;
    FONT-SIZE: 20PX;
    box-shadow: none;
    width: 100%;
    outline: none;

}